@import 'src/styles/subsocial-vars.scss'

.IconCircle
  text-align: center
  display: flex

  svg
    height: 16px
    width: 16px

  span
    margin-right: 0 !important

.TableActionButtons
  display: flex
  align-items: center
  gap: $space_tiny

.MenuStyles
  border: none
  overflow: hidden
  background: #FFFFFF
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important
  border-radius: $border_radius_huge !important
  min-width: 175px !important

  \:global .ant-menu-item-selected
    path
      fill: $color_primary

  li
    &:hover
      path
        fill: $color_primary