@import 'src/styles/subsocial-vars.scss'

.IconCircle
  background-color: #F0F0F0
  border-radius: 50%
  text-align: center
  display: flex
  padding: 0.313rem

.TableActionButtons
  display: flex
  align-items: center
  gap: $space_tiny

.MenuStyles
  min-width: 176px