@import 'src/styles/subsocial-vars.scss'

.TransferRow
  padding-top: 6px

  display: grid
  grid-template-columns: 1fr 1fr 1fr
  align-items: center
  gap: $space_normal

.Tokens
  font-size: $font_normal
  font-weight: bold

.Dollars
  font-size: $font_small

.FirstCol
  width: 250px

.TransferTitle
  display: flex
  align-items: center
  gap: 0.25rem

.RecievedTokens
  color: $color_green

.RowDivider
  margin-top: 6px !important
