@font-face {
  font-family: 'Unbounded';
  src: local('Unbounded Medium'), local('Unbounded-Medium'),
    url('/fonts/Unbounded/Unbounded-Medium.woff2') format('woff2'),
    url('/fonts/Unbounded/Unbounded-Medium.woff') format('woff'),
    url('/fonts/Unbounded/Unbounded-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}