@import './subsocial-vars.scss';

.ant-tabs {
  overflow: initial;
}

.item.header.disabled {
  margin: 0;

  span {
    width: 3rem;
    overflow: hidden;
  }
}

.am-drawer-draghandle {
  background-color: initial;
}

@media (max-width: 767px) {
  .infinite-scroll-component {
    overflow: initial !important;
    margin-top: $space_normal;
  }
}

.infinite-scroll-component {
  overflow: initial !important;
}

.DfModal:first-child {
  margin: $space_mini;
  padding: $space_mini !important;
}

.DfModal {
  margin: $space_big $space_mini;
  padding: $space_normal $space_mini $space_mini $space_mini;
  border-top: 1px solid $color_light_border;

  .DfContent {
    padding: 0;
  }

  .DfDescription {
    font-size: $font_normal;
  }
}

@media (max-width: 767px) {
  .MobilePageContent {
    margin-bottom: 64px;
  }

  .DfSideBar {
    .ant-drawer-content-wrapper {
      width: 225px !important;
    }

    .ant-menu-sub {
      background-color: #FAFAFA !important;
    }

    .ant-menu-submenu-open {
      .ant-menu-submenu-arrow::before {
        transform: rotate(45deg) translateX(4px) !important;
      }

      .ant-menu-submenu-arrow::after {
        transform: rotate(-45deg) translateX(-4px) !important;
      }
    }

    .ant-menu-submenu-arrow::before {
      background-image: linear-gradient(to right, $color_muted, $color_muted) !important;
      transform: rotate(-45deg) translateX(4px) !important;
      width: 9px !important;
    }

    .ant-menu-submenu-arrow::after {
      background-image: linear-gradient(to right, $color_muted, $color_muted) !important;
      transform: rotate(45deg) translateX(-4px) !important;
      width: 9px !important;
    }

    .ant-menu-item-active {
      .MenuItemName {
        color: $color_primary !important
      }
    }

    .ant-menu-item-selected {
      .MenuItemName {
        color: $color_primary !important
      }
    }

    .MenuItemName {
      color: $color_muted
    }
  }

  .DfBrand {
    img {
      max-width: 40px;
    }
  }

  .ant-drawer-wrapper-body {
    display: flex;
    height: 92vh;
  }

  .ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
    width: auto !important;
  }

  .DfEntirePost {
    .DfPostContent {
      padding: $space_small;
      margin-top: $space_normal;
      // border-radius: 0;
    }

    .DfInfoPanel {
      display: block;
    }

    .DfSpacePreviewOnPostPage > .DfSegment {
      padding: $space_small;
    }
  }

  .DfSectionOuter {
    width: 100%;
    padding: 0 0
  }

  .item.header.disabled {
    zoom: 0.8;
  }

  .ui.search.selection.dropdown {
    min-width: 18rem;
  }

  .editor-toolbar {
    zoom: .7;
  }

  .ProfilePreviews {

    button.ui.tiny {
      padding: .6rem;
      font-size: $font_tiny;
    }
  }

  li.ant-list-item.ant-list-item-no-flex {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: $space_small;
  }

  .infinite-scroll-component {
    .DfSegment {
      margin-top: $space_small;
    }
  }

  .DfModal:first-child {
    margin: $space_mini;
    padding: $space_mini !important;
  }

  .DfModal {
    margin: $space_tiny $space_mini;
    padding: $space_normal $space_mini $space_mini $space_mini !important;
    border-top: $space_small solid $color_light_border;

    .DfContent {
      padding: 0;
    }

    .DfDescription {
      font-size: $font_normal;
    }
  }

  .DfAddressMini-popup {
    line-height: 1rem;
    font-size: 1rem !important;

    .header {
      font-size: 1rem !important;
    }
  }

  .Df--AddressComponents-details {
    margin-top: .25rem;
  }

  .DfPageContent {
    min-width: 100% !important;
    max-width: 100% !important
  }

  .DfBurgerIcon {
    padding-left: 0;
    padding-right: $space_tiny;
  }

  .DfSection {
    margin-top: $space_tiny;

    .DfSection-title {
      margin: 0;
      margin-top: $space_normal;
      padding: 0;

      .DfTitle--List {
        margin-bottom: $space_mini
      }
    }
  }

  .ProfileDetails {
    .content {
      padding: 0 $space_tiny;
    }
  }

  .DfCommentSection {
    margin-top: 0 !important;
    .DfDataList {
      margin: initial;
    }

    .DfCommentAction {
      padding: $space_tiny;
    }
  }

  .DfContent,
  .content {
    text-align: left !important;
  }

  .content {
    width: 80%;
    line-height: $space_big;
  }

  .header {
    line-height: normal;
    font-size: $font_large !important;
    font-weight: 500;
  }

  .header.DfPostTitle--preview {
    margin: $space_tiny 0;
  }

  .DfPostPreview {
    &h2 {
      margin-top: 0;
      font-size: $font_large;
    }
    &.DfSegment {
      padding-bottom: 0 !important;
    }
    .DfPostImagePreview {
      margin-left: 0 !important;
    }
  }

  .DfSpaceStats {
    .DfStatItem {
      margin-right: $space_tiny;
    }
  }

  .DfSegment {
    z-index: 1;
    border-radius: 0;
    margin-left: -$space_normal;
    margin-right: -$space_normal;
    padding: $space_small;
    border-left: 0;
    border-right: 0;
    box-shadow: none;

    .DfSegment {
      margin: 0;
    }
  }

  .ui--Status {
    zoom: .7;
    max-width: 50%;
  }

  .DfPostName {
    font-size: $font_big;
    margin-bottom: $space_normal !important;
    width: 87%;
  }

  .DfContentPage {
    text-align: left !important;

    .FullProfile {
      margin-top: $space_mini !important;
    }
  }

  .DfCountsPreview .MutedText {
    margin-right: $space_normal;

    .disable {
      margin: 0;
    }
  }

  .ui--IdentityIcon.image {
    margin-right: $space_tiny;
  }

  .DfDataList {
    margin: 0 (-$space_normal);
  }

  .ant-notification {
    margin: 0 !important;
    left: $space_normal;
    right: $space_normal !important;
  }

  .DfSearch {
    width: 100%;
    margin: 0;
  }

  .DfSocialLinks {
    margin-top: $space_mini;
    font-size: $font_normal;
  }

  .DfTags {
    .ant-tag {
      padding: .15rem .4rem;
    }
  }

  .FollowerCanPostAlert {
    margin-right: -$space_tiny;
    margin-bottom: $space_big;
    margin-left: -$space_tiny;
  }

  .ModalSpaceList {
    margin-top: $space_normal;
    .DfSpaceBody {
      padding: 0 $space_normal;
    }
  }

  .ProseMirror {
    .p4-_1gxhi00 {
      height: 186px !important;
    }

    .react-renderer {
      min-width: 310px;
    }

  }

  .DfTopBar {
    .DfTopBar--rightContent {
      min-width: 0;
    }
  }
}
