@import 'src/styles/subsocial-vars.scss'

.BalancesBarChart
  margin-bottom: $space_large

.ChartTabs
  \:global .ant-tabs-tab
    padding-top: 0 !important

.BarChartIcon
  transform: scaleX(-1) rotate(270deg)