@import 'src/styles/subsocial-vars.scss'

.OverviewBlock
  padding: $space_normal $space_mini

.BalanceBlock
  display: grid
  margin-left: $space_normal

.FontSmall
  font-size: .875rem
  line-height: 22px

.FontLarge
  font-size: $space_large
  line-height: 31.43px

@media ( max-width: $max_mobile_width)
  .FontSmall
    font-size: .775rem
    line-height: 19.4866px

  .FontLarge
    font-size: $font_normal
    line-height: 25.144px

  .OverviewBlock
    border-radius: 0 !important
