@import 'src/styles/subsocial-vars.scss'

.OverviewBlock
  background-color: #fff
  padding: $space_small 0
  box-shadow: $shadow
  margin-bottom: $space_large
  border-radius: $border_radius_normal

.BalanceBlock
  display: grid
  margin-left: $space_normal

.FontSmall
  font-size: .875rem

.FontLarge
  font-size: $space_large

@media ( max-width: $max_mobile_width)
  .FontSmall
    font-size: .775rem

  .FontLarge
    font-size: $font_normal

  .OverviewBlock
    border-radius: 0 !important
