@import 'src/styles/subsocial-vars.scss'

.HistoryBlock
  background-color: #fff
  padding: $space_normal
  box-shadow: $shadow
  border-radius: $border_radius_normal
  margin-bottom: 0.1rem

  display: flex
  flex-direction: column
  gap: $space_big

.MenuItemAll
  height: 24px
  width: 24px
  align-items: center
  justify-content: center
  background: #F0F0F0
  border-radius: 50%

.AllEventsIcon
  svg
    margin-top: 1px
    margin-left: 2px

.IconBox
  svg
    height: auto
    width: auto

.AllEvents
  &:global(.ant-menu-item-selected)
    svg
      path
        stroke: $color_primary !important

      li
        &:hover
          path
            stroke: $color_primary !important

.TxHistoryActionButtons
  display: flex
  align-items: center
  justify-content: space-between
  gap: $space_normal

.CommonActionButtonsParts
  display: flex
  align-items: center
  gap: $space_tiny

.TransactionByDateContainer
  display: flex
  flex-direction: column
  gap: $space_tiny

.LabelWithCount
  display: flex
  align-items: center
  gap: $space_mini

.DownloadButton
  border-radius: 18px

  &:hover
    path[stroke]
      stroke: $color_primary

  &:focus
    path[stroke]
      stroke: $color_primary

.LeftPart,
.RightPart
  @extend .CommonActionButtonsParts

.Date
  font-size: $font_medium
  font-weight: 600

.GroupedData
  display: flex
  flex-direction: column
  gap: $space_big
