@import 'src/styles/subsocial-vars.scss'

.HistoryBlock
  background-color: #fff
  padding: $space_normal
  box-shadow: $shadow
  border-radius: $border_radius_normal
  margin-bottom: 0.1rem

  display: flex
  flex-direction: column
  gap: $space_big

.ColoredIcon
  path
    fill: auto !important
    stroke: auto !important

.IconBox
  svg
    height: auto
    width: auto

.TxHistoryActionButtons
  display: flex
  align-items: center
  justify-content: space-between
  gap: $space_normal

.CommonActionButtonsParts
  display: flex
  align-items: center
  gap: $space_tiny

.TransactionByDateContainer
  display: flex
  flex-direction: column
  gap: $space_tiny

.LeftPart,
.RightPart
  @extend .CommonActionButtonsParts

.Date
  font-size: $font_normal
  font-weight: 600

.GroupedData
  display: flex
  flex-direction: column
  gap: $space_big
