@import 'src/styles/subsocial-vars.scss'

.BalancesBarChart
  background-color: #fff
  margin-top: $space_tiny
  margin-bottom: $space_large
  padding: $space_small
  border-radius: $border_radius_normal
  box-shadow: $shadow

.ChartTabs
  \:global .ant-tabs-tab
    padding-top: 0 !important

.BarChartIcon
  transform: scaleX(-1) rotate(270deg)